  body,
  #wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }
  
  #info {
      margin-bottom: auto;
  }
  
  footer {
      margin-top: auto;
  }
  
  body {
      margin: 0 15%;
      text-align: center;
      background-color: #edeff1;
      color: #586a66;
  }
  
  h1 {
      color: white;
      background-color: #ff8fa5;
  }
  
  #gamearea {
      background-color: white;
      margin: 10px 5%;
      font-size: 34px;
      margin-top: 20px;
      padding: 25px;
  }
  
  #data {
      text-align: right;
      background-color: white;
      font-size: 20px;
      margin: 0px;
      padding: 5px;
  }
  
  #error {
      color: #c25067;
  }
  
  footer a:link {
      color: #c25067;
  }
  
  footer a:visited {
      color: #682a37;
  }