body {
    text-align: center;
    background-color: #edeff1;
    color: #586a66;
}

h1 {
    color: white;
    background-color: #ff8fa5;
    border-bottom: solid #c25067 7px;
    margin: 0 15%;
    padding: 5px;
}

#difficulty {
    margin: 2% 5%;
}

#error {
    color: #c25067;
}

#gamearea {
    background-color: white;
    margin: 5% 20%;
    min-width: 600px;
    font-size: 34px;
    margin-top: 20px;
    border: #586a66 solid 5px;
    display: grid;
    grid-template-rows: 250px 70px;
    grid-template-columns: 1fr 1fr;
}

#targetarea {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 70px;
    font-size: 60pt;
}

.clear {
    text-align: center;
}

#enemy {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.mon1 {
    background-image: url('resources/mon1.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: 10px 25px;
}

.mon2 {
    background-image: url('resources/mon2.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: 25px 25px;
}

#infoleft {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#inforight {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#info,
#howto {
    margin: 2% 15%;
}

h2 {
    border-bottom: dashed #ff8fa5 3px;
}

footer {
    padding-top: 10px;
}